body
{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin: 0px auto;
  overflow: hidden;
  font-size: 32pt;
  font-family: 'Droid Sans', sans-serif;
  text-transform: lowercase;
/*
  font-family: 'Press Start 2P', cursive;
  font-family: 'Shadows Into Light', cursive;
*/
  text-shadow: 1px 1px 5px #000000;
}

div
{
  width: 1920px;
  height: 32pt;
  line-height: 90%;
  padding: 20px;
}

img
{
  height: 100%;
  width: auto;
  float: left;
  padding-right: 5px;
}

/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}

/* found this on stack overflow */
.shadowed {-webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));}

.inverted-and-shadowed {-webkit-filter: invert(100%) drop-shadow(1px 1px 3px rgba(0,0,0,1));}

ul#list
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
/*
  overflow: hidden;
*/
}

ul#list li
{
/*
  border: solid;
*/
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
}

#twitter
{
  font-size: 90%;
}

#youtube
{
  
}
